{% extends 'base.html' %}

{% block title %}Logout{% endblock %}

{% block content %}
    <div class="col-md-12 offset-md-4">
        <p>Server IP: {{ server.ip_address }}</p>
        <p>Owner: {{ server.owner.username }}</p>
        <button id="connection_check" class="btn btn-primary">Connection Check</button>
        <button id="get_logs" class="btn btn-primary">Get Logs</button>
        <div>
            <b>Server Logs:</b>
            <pre     id="serverLog">Sampleeeee</pre>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script>
        $(document).ready(function () {
            $("#connection_check").click(function () {
                $.ajax(
                    {
                        type: "GET",
                        url: "{% url 'connection_check' server_id=server.id %}",
                        success: function (data) {
                            if (data['status']) {
                                alert("Connection successful");
                            } else {
                                alert("Connection Failed.");
                            }
                        }
                    })
            });
            $("#get_logs").click(function () {
                $.ajax(
                    {
                        type: "GET",
                        url: "{% url 'get_logs' server_id=server.id %}",
                        success: function (data) {
                            console.log(data);
                            $("#serverLog").text(data.log);
                        }
                    }
                )
            })
        });
    </script>
{% endblock %}